<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>



</head>

<body style="font-family:arial, sans-serif">
    <h1>世界500强计算机能力可视化分析</h1>
    <h2>输入国家如：India或China（大写字母开头）</h2>
    
    <input type="text" id="fname" name="fname" onchange="cb(this.value)">
    <div id="chart" class="chart"></div>
    <p>上图展示的为某一国家的超级计算机随着年份的变化总核心数发生的变化的折线图,图中不同的颜色代表不同的厂商,有的图线非常乱,可以点击上面的不同颜色代表的线来隐藏该厂商的相关信息,同一年份可能有多个节点,这是因为同一年一个国家有多台超级计算机。</p>
    <h2>对于不同国家Top500计算机最高性能随着排名的变化</h2>
    <div id="chart2" class="chart2"></div>
    <p>散点图，分别在图表的上方、右侧增加直方图、细条图,散点图中每一个点都表示了一个国家的某一超级计算机的Top500排名和峰值性能,直方图展示了某一国家在某一排名区间内的计算机数量,细条图展示了某一国家的某一计算机的峰值性能</p>
    <h2>不同厂商的用电效率排行</h2>
    <div id="chart3" class="chart3"></div>
    <p>将用电效率分为level1、level2以及level3,分别展示了不同厂商在不同level的用电排名总排名以及可以查看单独厂商的用电level分配以及该厂商在不同level的最高用电量,同时还可以进行厂商用电level之间的比对以及同一level下不同厂商的用电量比对</p>
    <h2>不同州的Top500计算机排名与峰值性能的关系</h2>
    <div id="chart4" class="chart4"></div>
    <p>展示了不同州的Top500超级计算机排名以及峰值性能</p>
    <h2>不同操作系统的世界500强排名以及峰值性能分析</h2>
    <div id="chart5" class="chart5"></div>
    <p>以不同的操作系统作为划分,每一个点都展示了某一个操作系统的某一台超级计算机的Top500排名以及峰值性能</p>
</body>

<script>
    d = {{ graphJSON | safe }};
    d2 = {{ graphJSON2 | safe }};
    d3 = {{ graphJSON3 | safe }};
    d4 = {{ graphJSON4 | safe }};
    d5 = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart', d, {});
    Plotly.newPlot('chart2', d2, {});
    Plotly.newPlot('chart3', d3, {});
    Plotly.newPlot('chart4', d4, {});
    Plotly.newPlot('chart5', d5, {});
</script>


</html>
