<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="font-family:arial, sans-serif">
    <h1>影响饮水质量的因素分析</h1>
    <h2>ph值、水的浑浊度与水的可饮用性(potability)分析</h2>
    <div id="chart2_1" class="chart2_1"></div>
    <p>图表分析了ph值的变化(0-14)以及水的浑浊度的变化对水的可饮用性的影响,根据图表发现合适的ph值为4-10,且水的浑浊度越低可饮用性越强</p>
    <h2>盐酸含量和导电性的线性关系分析</h2>
    <div id="chart2_2" class="chart2_2"></div>
    <p>图表分析了盐酸含量的变化以及导电性的变化对水的可饮用性的影响,根据图标发现盐酸含量和导电性始终的时候水的可饮用性最大</p>
    <h2>水的硬度检测</h2>
    <div id="chart2_3" class="chart2_3"></div>
    <p>图表分析了水的硬度分布以及对应区间数量,可以发现水的硬度大部分分布在150-250之间</p>
    <h2>水的氯化铵含量检测</h2>
    <div id="chart2_4" class="chart2_4"></div>
    <p>图表分析了水的氯化铵含量分布以及对应区间的数量,可以发现水的氯化铵含量大部分分布在330-999之间</p>
    <h2>液体总量和氯化铵的散点图关系</h2>
    <div id="chart2_5" class="chart2_5"></div>
    <p>图表分析了液体总量对氯化铵含量的影响并以散点图的形式展示,通过图像可以看出氯化铵的含量不止和液体总量有线性相关,可能有更多其它的因素在里面,但是液体总量对氯化铵的含量起了一定的影响液体总量达到中间水平时氯化铵的含量符合标准。</p>
</body>

<script>
    d = {{ graphJSON | safe }};
    d2 = {{ graphJSON2 | safe }};
    d3 = {{ graphJSON3 | safe }};
    d4 = {{ graphJSON4 | safe }};
    d5 = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart2_1', d, {});
    Plotly.newPlot('chart2_2', d2, {});
    Plotly.newPlot('chart2_3', d3, {});
    Plotly.newPlot('chart2_4', d4, {});
    Plotly.newPlot('chart2_5', d5, {});
</script>


</html>