<!DOCTYPE html>
<html>
<head>
  <link href='/static/css/orbit-7.css' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/a.js"></script>
</head>
<body>
  <section>
  <header>
    <h3 id="twitter">@701Belief</h3>
    <h1>@{{person.name}}</h1>
  </header>
  
  <hr/>
  
  <div class="xp qual full-qual">
    <h2>项目经历</h2>
    
    <div class="data">    
      <div class="data-item" id="item2">
        <h5>{{person.experiences[3].Project}}</h5>
        <span>&nbsp;</span>
      </div>
      
      <div class="data-item" id="item3" style="border-bottom-width:50px;">
        <h5>{{person.experiences[0].Project}}</h5>
        <span>&nbsp;</span>
      </div>
      
      <div class="data-item" id="item5">
        <h5>{{person.experiences[1].Project}}</h5>
        <span>&nbsp;</span>
      </div>
      
      <div class="data-item" id="item6">
        <h5>{{person.experiences[2].Project}}</h5>
        <span>&nbsp;</span>
      </div>
    </div>
    
    <hr/>
    <div class="years">
      
      <ul class="middot">
        <li>&#183;</li>
        <li>&#183;</li>
        <li>&#183;</li>
        <li>&#183;</li>
      </ul>
      <span></span>
      <ul class="year-list">
        <li>2018</li>
        <li>2019</li>
        <li>2020</li>
        <li>2021</li>
      </ul>
      
      <span></span>
    </div>
    <p>近期作品:</p>
    <p>
        <a href="{{url_for('index')}}" target="_blank">世界500强计算机性能综合分析</a>
    </p>
    <p>
        <a href="{{url_for('index2')}}" target="_blank">饮水质量数据分析</a>       
    </p>
  </div> <!-- end first qual -->
  
  <div class="edu qual third-qual">
    <h2>教育经历</h2>
    <span class="highschool">
       2022年毕业生
    </span>

    <div class="wrap">    
      
      
      <div class="schools">
        <div class="up-arrow school-item" id="school1">
          <h5>高中</h5>
          <span>&nbsp;</span>
        </div>
        
        <div class="up-arrow school-item" id="school2">
          <h5>大学</h5>
          <span>&nbsp;</span>
        </div>

      </div>
      
      <hr/>
      <div class="years"> 
        <ul class="middot">
          <li>&#183;</li>
          <li>&#183;</li>
          <li>&#183;</li>
        </ul>
        <span></span>
        <ul>
          <li>2015</li>
          <li>2018</li>
          <li>2022</li>
        </ul>
      
        <span></span>
      </div>
    </div>
  </div>
  
  <div class="hna qual quarter-qual">
    <h2>个人简介</h2>
    <li>{{person.description}}</li>>
  </div>
    
  </div>
  
  <div class="sknex">
    <h2>技能点&专长</h2>
    <br/>
    <div class="skills-text">
      <br/>
      <p>
        熟悉一些语言的基本功能和语法,对游戏编程感兴趣,目前正在学习photoshop,下列是目前掌握的一些知识
      </p>
      
      <ul>
        <li>unity3d</li>
        <li>cocos2d</li>
        <li>unreal4</li>
      </ul>
    </div>
    
    <div class="skills-vis">
      <div id="skill1">
        <h3>C++</h3>
        <hr/>
        <br/>
        <div class="skill-breakdown">
          <div class="pie-container">
            <div class="center"></div>
            <div class="pie-back"></div>
            <div class="hold" id="puters"><div class="pie"></div></div>
            <div class="hold" id="puters4"><div class="pie"></div></div>
            
            <div class="hold" id="movies"><div class="pie"></div></div>
            
            <div class="hold" id="games"><div class="pie"></div></div>
            
            <div class="hold" id="music"><div class="pie"></div></div>
            <div class="hold" id="music2"><div class="pie"></div></div>
            
            <div class="hold" id="tv"><div class="pie"></div></div>
          </div>          
          <div class="pie-legend">
            <ul>
              <li>Testing</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="skill2">
        <h3>Python</h3>
        <hr/>
        <br/>
        
        <div class="skill-breakdown">
          <div class="pie-container">
            <div class="center"></div>
            <div class="pie-back"></div>
            <div class="hold" id="puters"><div class="pie"></div></div>
            <div class="hold" id="puters4"><div class="pie"></div></div>
            
            <div class="hold" id="movies"><div class="pie"></div></div>
            
            <div class="hold" id="games"><div class="pie"></div></div>
            
            <div class="hold" id="music"><div class="pie"></div></div>
            <div class="hold" id="music2"><div class="pie"></div></div>
            
            <div class="hold" id="tv"><div class="pie"></div></div>
          </div>          
          <div class="pie-legend">
            <ul>
              <li>Testing</li>
            </ul>
          </div>
        </div>
      </div>
   </div>
</section>
</body>
</html>